# Dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz

# Next.js
/frontend/.next/
/frontend/out/
.next

# Production
/frontend/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local
/backend/.env
/frontend/.env*.local

# Frontend environment variables
/frontend/.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
/frontend/next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
/backend/venv/
/backend/env/
/backend/ENV/
venv/
env/

# FastAPI
/backend/instance/
.webassets-cache

# SQLite
*.sqlite
/backend/sql_app.db

# IDE
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache

# Secrets
/backend/secrets/
/backend/app/config/firebase-adminsdk.json

# Testing
/frontend/coverage